networks:
  Nudges:
    driver: bridge

services:
  maildev:
    hostname: maildev
    container_name: maildev
    image: maildev/maildev:latest
    networks:
      - Nudges
    ports:
      - "1080:1080"

  keycloak:
    hostname: keycloak
    container_name: keycloak
    networks:
      - Nudges
    volumes:
      - ./keycloak/data:/opt/keycloak/data/import
      - ./keycloak/certs:/opt/keycloak/certs
    build:
      context: ./keycloak
    command: >
      start-dev 
      --import-realm 
      --hostname=https://keycloak.local:8443
      --hostname-admin=https://keycloak.local:8443
      --hostname-backchannel-dynamic=false
      --hostname-strict=true
      --proxy-headers=xforwarded
      --https-certificate-file=/opt/keycloak/certs/tls.crt
      --https-certificate-key-file=/opt/keycloak/certs/tls.key
    env_file:
      - ./keycloak/.env.docker
    environment:
      KC_HEALTH_ENABLED: "true"
    depends_on:
      - postgres
      - maildev
    ports:
      - "9000:9000"
      - "8443:8443"
    healthcheck:
      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/9000' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 60s

  unleash:
    hostname: unleash
    container_name: unleash
    image: unleashorg/unleash-server:latest
    networks:
      - Nudges
    ports:
      - "4444:4242"
    env_file:
      - ./unleash/.env.docker
    depends_on:
      - postgres

  otel-collector:
    image: otel/opentelemetry-collector:latest
    hostname: otel-collector
    container_name: otel-collector
    command: ["--config=/etc/otel-collector.yaml"]
    volumes:
      - ./telemetry/otel-collector.yaml:/etc/otel-collector.yaml
    networks:
      - Nudges
    ports:
      - "4317:4317"
      - "4318:4318"
    depends_on:
      - prometheus
      - tempo
      - loki
      - promtail

  # init-tempo:
  #   image: &tempoImage grafana/tempo:latest
  #   user: root
  #   entrypoint:
  #     - "chown"
  #     - "10001:10001"
  #     - "/var/tempo"
  #   volumes:
  #     - ./telemetry/tempo:/var/tempo

  tempo:
    hostname: tempo
    container_name: tempo
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./telemetry/tempo.yaml:/etc/tempo.yaml
      - ./telemetry/tempo:/tmp/tempo
    networks:
      - Nudges
    ports:
      - "3200"
      - "4317"
      - "4318"

  loki:
    image: grafana/loki:latest
    container_name: loki
    networks:
      - Nudges
    ports:
      - "3100:3100"
      - "9096:9096"
    command: -config.file=/etc/loki/config.yaml
    volumes:
      - ./telemetry/loki-config.yaml:/etc/loki/config.yaml

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    ports:
      - "9080:9080"
    networks:
      - Nudges
    command: -config.file=/etc/promtail/config.yaml
    volumes:
      - ./telemetry/promtail-config.yaml:/etc/promtail/config.yaml
      - ./telemetry/promtail:/tmp/promtail

  prometheus:
    hostname: prometheus
    container_name: prometheus
    image: prom/prometheus
    command:
      - --config.file=/etc/prometheus.yaml
    volumes:
      - ./telemetry/prometheus.yaml:/etc/prometheus.yaml
    networks:
      - Nudges
    ports:
      - "9090:9090"
      - "9464:9464"

  grafana:
    hostname: grafana
    container_name: grafana
    image: grafana/grafana
    volumes:
      - ./telemetry/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    env_file:
      - ./telemetry/.env.docker
    ports:
      - "3000:3000"
    networks:
      - Nudges
    depends_on:
      - otel-collector

  redis:
    hostname: redis
    container_name: redis
    image: redis:7-alpine
    networks:
      - Nudges
    ports:
      - 6379:6379

  postgres:
    hostname: postgres
    container_name: postgres
    build:
      context: ./db
    networks:
      - Nudges
    ports:
      - "5432:5432"
    env_file:
      - ./db/.env.docker

  stripe-cli:
    hostname: stripe-cli
    container_name: stripe-cli
    networks:
      - Nudges
    build:
      context: ./stripe
      dockerfile: cli.Dockerfile
    command: listen --forward-to host.docker.internal:7071/api/StripeWebhookHandler?code=test
    env_file:
      - ./dotnet/.env.docker

  warp-cache:
    hostname: warp-cache
    container_name: warp-cache
    networks:
      - Nudges
    build:
      context: ./dotnet/Precision.WarpCache
      dockerfile: Server.Dockerfile
    ports:
      - "7777:7777"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Kestrel__EndpointDefaults__Protocols=Http2
      - Kestrel__Endpoints__gRPC__Url=http://*:7777
    env_file:
      - ./dotnet/.env.docker

  payment-processor-proxy:
    hostname: payment-processor-proxy
    container_name: payment-processor-proxy
    networks:
      - Nudges
    build:
      context: ./stripe
      dockerfile: api.Dockerfile
    ports:
      - "4243:4243"

  db-migrator:
    build:
      context: ./dotnet/
      dockerfile: Migrator.Dockerfile
    networks:
      - Nudges
    env_file:
      - ./dotnet/.env.docker
    depends_on:
      - postgres

  db-seeder:
    build:
      context: ./dotnet
      dockerfile: DbSeeder.Dockerfile
    networks:
      - Nudges
    env_file:
      - ./dotnet/.env.docker
    depends_on:
      - postgres

  auth-init:
    build:
      context: ./dotnet
      dockerfile: AuthInit.Dockerfile
    networks:
      - Nudges
    env_file:
      - ./dotnet/.env.docker
    # depends_on:
    #   keycloak:
    #       condition: service_healthy


  graph-monitor:
    hostname: graph-monitor
    container_name: graph-monitor
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: GraphMonitor.Dockerfile
    ports:
      - "5145:5145"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - HTTP_PORTS=5145
    env_file:
      - ./dotnet/.env.docker
    # depends_on:
    #   - warp-cache

  new-signup:
    hostname: new-signup
    container_name: new-signup
    networks:
      - Nudges
    build:
      context: ./web/new-signup
    ports:
      - "6060:3000"
    environment:
      - PORT=3000
    # depends_on:
    #   - graphql-gateway
    #   - auth-api
    #   - notifications-listener

  new-admin:
    hostname: new-admin
    container_name: new-admin
    networks:
      - Nudges
    build:
      context: ./web/new-admin
    volumes:
      - ./certs/aspnetapp.crt:/etc/nginx/certs/aspnetapp.crt:ro
      - ./certs/aspnetapp.key:/etc/nginx/certs/aspnetapp.key:ro
    ports:
      - "5050:5050"
    environment:
      PORT: 5050
    # depends_on:
    #   - graphql-gateway
    #   - auth-api

  user-api:
    hostname: user-api
    container_name: user-api
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./UserApi.Dockerfile
      secrets:
        - graph-monitor-headers
      args:
        - GRAPH_MONITOR_URL=http://host.docker.internal:5145
    ports:
      - "5300:5300"
    extra_hosts:
      - "keycloak.local:host-gateway"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 5300
      Keycloak__resource: auth-api
      Logging__LogLevel__Default: Debug
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - user-api-secret
    # depends_on:
    #   - postgres
    #   - redis
    #   - unleash

  localizer-api:
    hostname: localizer-api
    container_name: localizer-api
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./LocalizationApi.Dockerfile
    ports:
      - "8888:8888"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Kestrel__Endpoints__gRPC__Url=http://*:8888
    env_file:
      - ./dotnet/.env.docker

  notifications-listener:
    container_name: notifications-listener
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./KafkaConsumer.Dockerfile
    environment:
      DOTNET_ENVIRONMENT: Development
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 7100
      Oidc__ClientId: kafka-consumer
      FILEMAP: Oidc__ClientSecret=/run/secrets/kafka-consumer-secret
    ports:
      - "7100"
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - kafka-consumer-secret
    command: notifications
    # depends_on:
    #   - kafka
    #   - warp-cache
    #   - graphql-gateway

  payments-listener:
    container_name: payments-listener
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./KafkaConsumer.Dockerfile
    environment:
      DOTNET_ENVIRONMENT: Development
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 7100
      Oidc__ClientId: kafka-consumer
      FILEMAP: Oidc__ClientSecret=/run/secrets/kafka-consumer-secret
    ports:
      - "7100"
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - kafka-consumer-secret
    command: payments
    # depends_on:
    #   - kafka
    #   - warp-cache
    #   - graphql-gateway
    #   - payment-processor-proxy

  plan-subscription-listener:
    container_name: plan-subscription-listener
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./KafkaConsumer.Dockerfile
    environment:
      DOTNET_ENVIRONMENT: Development
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 7100
      Oidc__ClientId: kafka-consumer
      FILEMAP: Oidc__ClientSecret=/run/secrets/kafka-consumer-secret
    ports:
      - "7100"
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - kafka-consumer-secret
    command: plan-subscriptions
    # depends_on:
    #   - kafka
    #   - warp-cache
    #   - graphql-gateway

  plans-listener:
    container_name: plans-listener
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./KafkaConsumer.Dockerfile
    environment:
      DOTNET_ENVIRONMENT: Development
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 7100
      Oidc__ClientId: kafka-consumer
      FILEMAP: Oidc__ClientSecret=/run/secrets/kafka-consumer-secret
    ports:
      - "7100"
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - kafka-consumer-secret
    command: plans
    # depends_on:
    #   - kafka
    #   - warp-cache
    #   - graphql-gateway
    #   - payment-processor-proxy

  price-tiers-listener:
    container_name: price-tiers-listener
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./KafkaConsumer.Dockerfile
    environment:
      DOTNET_ENVIRONMENT: Development
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 7100
      Oidc__ClientId: kafka-consumer
      FILEMAP: Oidc__ClientSecret=/run/secrets/kafka-consumer-secret
    ports:
      - "7100"
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - kafka-consumer-secret
    command: price-tiers
    # depends_on:
    #   - kafka
    #   - warp-cache
    #   - graphql-gateway
    #   - payment-processor-proxy

  clients-listener:
    container_name: clients-listener
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./KafkaConsumer.Dockerfile
    environment:
      DOTNET_ENVIRONMENT: Development
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 7100
      Oidc__ClientId: kafka-consumer
      FILEMAP: Oidc__ClientSecret=/run/secrets/kafka-consumer-secret
    ports:
      - "7100"
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - kafka-consumer-secret
    command: clients
    # depends_on:
    #   - kafka
    #   - warp-cache
    #   - graphql-gateway

  user-authentication-listener:
    container_name: user-authentication-listener
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./KafkaConsumer.Dockerfile
    environment:
      DOTNET_ENVIRONMENT: Development
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 7100
      Oidc__ClientId: kafka-consumer
      FILEMAP: Oidc__ClientSecret=/run/secrets/kafka-consumer-secret
    ports:
      - "7100"
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - kafka-consumer-secret
    command: user-authentication
    # depends_on:
    #   - kafka
    #   - warp-cache
    #   - graphql-gateway

  product-api:
    hostname: product-api
    container_name: product-api
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./ProductApi.Dockerfile
      secrets:
        - graph-monitor-headers
    ports:
      - "5200:5200"
    extra_hosts:
      - "keycloak.local:host-gateway"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 5200
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - product-api-secret
    # depends_on:
    #   - postgres
    #   - warp-cache

  payment-api:
    hostname: payment-api
    container_name: payment-api
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./PaymentApi.Dockerfile
      secrets:
        - graph-monitor-headers
    ports:
      - "5400:5400"
    extra_hosts:
      - "keycloak.local:host-gateway"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 5400
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - payment-api-secret
    # depends_on:
    #   - postgres
    #   - redis
    #   - payment-processor-proxy

  graphql-gateway:
    hostname: graphql-gateway
    container_name: graphql-gateway
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: ./GraphQLGateway.Dockerfile
      secrets:
        - graph-monitor-headers
      args:
        - GRAPH_MONITOR_URL=http://host.docker.internal:5145
    ports:
      - "5900:443"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTPS_PORTS: 5900
      ASPNETCORE_URLS: https://+

      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/aspnetapp.pfx
      ASPNETCORE_Kestrel__Certificates__Default__Password: pass
    volumes:
      - ./certs/aspnetapp.pfx:/https/aspnetapp.pfx:ro
    env_file:
      - ./dotnet/.env.docker
    # depends_on:
    #   - warp-cache

  auth-api:
    hostname: auth-api
    container_name: auth-api
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: AuthApi.Dockerfile
    ports:
      - "5555:443"
    env_file:
      - ./dotnet/.env.docker
    environment:
      ASPNETCORE_HTTPS_PORTS: 5555
      ASPNETCORE_URLS: https://+
      Oidc__ClientId: auth-api
      FILEMAP: Oidc__ClientSecret=/run/secrets/auth-api-secret

      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/aspnetapp.pfx
      ASPNETCORE_Kestrel__Certificates__Default__Password: pass
      Logging__LogLevel__Default: Debug
    volumes:
      - ./certs/aspnetapp.pfx:/https/aspnetapp.pfx:ro
    secrets:
      - auth-api-secret
    depends_on:
      # - kafka
      # - warp-cache
      keycloak:
        condition: service_healthy

  ngrok:
    image: ngrok/ngrok:latest
    hostname: ngrok
    container_name: ngrok
    networks:
      - Nudges
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
      - "--log-level"
      - "info"
    volumes:
      - ./ngrok/ngrok.yml:/etc/ngrok.yml
    ports:
      - 4040:4040

  webhooks:
    hostname: webhooks
    container_name: webhooks
    networks:
      - Nudges
    build:
      context: ./dotnet
      dockerfile: Nudges.Webhooks.Dockerfile
    ports:
      - "7071:7071"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      HTTP_PORTS: 7071
      Logging__LogLevel__System.Net.Http.HttpClient.NudgesClient.LogicalHandler: Warning
      Oidc__ClientId: webhooks
      FILEMAP: Oidc__ClientSecret=/run/secrets/webhooks-secret
    env_file:
      - ./dotnet/.env.docker
    secrets:
      - webhooks-secret
    depends_on:
      - warp-cache
      - graphql-gateway
      - ngrok
      - stripe-cli
      - payment-processor-proxy

  kafka:
    image: confluentinc/confluent-local:latest
    hostname: kafka
    container_name: kafka
    networks:
      - Nudges
    ports:
      - "9092:9092"
      - "29092:29092"
      - "8082:8082"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'
      KAFKA_REST_HOST_NAME: rest-proxy
      KAFKA_REST_BOOTSTRAP_SERVERS: 'kafka:29092'
      KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
      CLUSTER_ID: '4L6g3nShT-eMCtK--X86sw'

  kafka-init-topics:
    networks:
      - Nudges
    image: confluentinc/cp-kafka:latest
    volumes:
      - ./message.json:/data/message.json
    depends_on:
      - kafka
    command: "bash -c 'echo Waiting for Kafka to be ready... && \
      until kafka-broker-api-versions --bootstrap-server kafka:29092 > /dev/null 2>&1; do echo \"Waiting for Kafka...\"; sleep 2; done && \
      echo \"Kafka is ready. Creating topics...\" && \

      kafka-topics --create --topic subscriptions         --partitions 2 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \
      kafka-topics --create --topic notifications         --partitions 2 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \
      kafka-topics --create --topic payments              --partitions 2 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \
      kafka-topics --create --topic clients               --partitions 2 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \
      kafka-topics --create --topic plans                 --partitions 2 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \
      kafka-topics --create --topic price-tiers           --partitions 2 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \
      kafka-topics --create --topic plan-subscriptions    --partitions 2 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \
      kafka-topics --create --topic user-authentication   --partitions 2 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \

      kafka-topics --create --topic test --partitions 1 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 && \
      kafka-console-producer --bootstrap-server kafka:29092 --topic test < /data/message.json'"

secrets:
  graph-monitor-headers:
    file: ./dotnet/GraphMonitor/headers
  auth-api-secret:
    file: ./keycloak/auth-api.secret.txt
  kafka-consumer-secret:
    file: ./keycloak/kafka-consumer.secret.txt
  payment-api-secret:
    file: ./keycloak/payment-api.secret.txt
  product-api-secret:
    file: ./keycloak/product-api.secret.txt
  user-api-secret:
    file: ./keycloak/user-api.secret.txt
  webhooks-secret:
    file: ./keycloak/webhooks.secret.txt

volumes:
  tempo:
    driver: local
